.container
  %h1 Articles

  %ul
    %li
      %a{href: '#', target: '_blank'} 2011 Label Signage for PV Solar Systems
    %li
      %a{href: '#', target: '_blank'} Common PV Code Violations
    %li
      %a{href: '#', target: '_blank'} Load Side Utility-Interactive PV Connections
    %li
      %a{href: '#', target: '_blank'} Odds and Ends
    %li
      %a{href: '#', target: '_blank'} Photovoltaic System Grounding
    %li
      %a{href: '#', target: '_blank'} PV Source Conductors
    %li
      %a{href: '#', target: '_blank'} PV Systems and Workmanship
    %li
      %a{href: '#', target: '_blank'} The Nature of the PV Module
    %li
      %a{href: 'http://www.energystar.gov/index.cfm?c=lighting.pr_what_are', target: '_blank'} LED Lighting
    %li
      %a{href: 'http://www.mikeholt.com/newsletters.php?action=display&letterID=1352', target: '_blank'} Ground Fault Circuit Interrupters
    %li
      %a{href: 'http://www.mikeholt.com/newsletters.php?action=display&letterID=1338', target: '_blank'} Tamper Resistant Receptacles
    %li
      %a{href: 'http://www.mikeholt.com/newsletters.php?action=display&letterID=1227', target: '_blank'} Overcurrent Protection- base on the 2011 NEC
    %li
      %a{href: 'http://energy.gov/energysaver/articles/solar-swimming-pool-heaters', target: '_blank'} Solar Swimming Pool Heaters
