.container
  %h1 Links

  %ul
    %li
      %a{href: 'http://www.gosolarcalifornia.ca.gov/', target: '_blank'} Go Solar Calfornia
    %li
      %a{href: 'http://energy.gov/', target: '_blank'} Department of Energy
    %li
      %a{href: 'http://energy.sandia.gov/?page_id=2727', target: '_blank'} Sandia Natiional Labrotories- PV
    %li
      %a{href: 'http://www.nrel.gov/', target: '_blank'} National Renewable Energy Labrotories
    %li
      %a{href: 'http://www.mikeholt.com/', target: '_blank'} Mike Holt Enterprises
    %li
      %a{href: 'http://www.nmsu.edu/~tdi/Photovoltaics/PV-Energy.html', target: '_blank'} New Mexico State University- PV
    %li
      %a{href: 'http://www.solarabcs.org/', target: '_blank'} Solar American Board of Codes and Standards
    %li
      %a{href: 'http://ecmweb.com/', target: '_blank'} Electrical Construction & Maintenance Magazine
    %li
      %a{href: 'http://www.pv-magazine.com/#axzz2cFrJQim1', target: '_blank'} PV Magazine
    %li
      %a{href: 'http://www.suniva.com/', target: '_blank'} Suniva
    %li
      %a{href: 'http://www.sharpusa.com/SolarElectricity.aspx', target: '_blank'} Sharp
    %li
      %a{href: 'http://www.sma-america.com/en_US.html', target: '_blank'} SMA America
    %li
      %a{href: 'http://www.fronius.com/', target: '_blank'} Fronius
    %li
      %a{href: 'http://www.heliocol.com/', target: '_blank'} Heliocol
