.container
  %h1 News

  %ul
    %li
      %a{href: 'http://www.washingtonpost.com/blogs/post-politics/wp/2013/08/15/white-house-solar-panels-finally-being-installed/', target: '_blank'} White House Installs Solar Photovoltaic System
    %li
      %a{href: 'http://www.pgecurrents.com/2011/09/29/pge-dedicates-three-solar-plants-in-west-fresno-county/', target: '_blank'} PG&E Installs Three Solar Plants
    %li
      %a{href: 'http://www.renewableenergyworld.com/rea/news/article/2013/06/solar-power-heads-in-a-new-direction-thinner', target: '_blank'} Solar Power Heads in a New Direction: Thinner
    %li
      %a{href: 'http://www.climate.gov/news-features/understanding-climate/climate-change-incoming-sunlight', target: '_blank'} Climate Change: Incoming Sunlight
    %li
      %a{href: 'http://www.weather.com/outlook/travel/vacation-travel/articles/noaa-sunniest-cities_2012-01-26?page=4', target: '_blank'} Second Sunniest City in the United States
    %li
      %a{href: 'http://www.pv-magazine.com/news/details/beitrag/us-solar-sector-eager-to-reinforce-energy-grid_100012369/#axzz2cFrJQim1', target: '_blank'} US Solar Sector Eager to Reinforce Energy Grid
    %li
      %a{href: 'http://www.ecmag.com/section/green-building/steady-elevation-high-performance-buildings', target: '_blank'} The Steady Elevation of High Performance Buildings
    %li
      %a{href: 'http://ecmweb.com/contractor/remodeling-gains-expected-continue-2014', target: '_blank'} Remodeling Gains Expected to Continue into 2014
    %li
      %a{href: 'http://ecmweb.com/lighting-amp-control/does-led-lighting-facts-program', target: '_blank'} The DOE's LED Lighting Facts Program
    %li
      %a{href: 'http://ecmweb.com/fire-amp-security/electrical-forensics-case-service-cable-arcing-incident', target: '_blank'} Electrical Forensics- The Case of the Service Cable Arching Incident
    %li
      %a{href: 'http://ecmweb.com/contractor/failures-outlet-testing-exposed', target: '_blank'} Failures in Outlet Testing Exposed


