.container
  %h1 Technical

  #modules
    %h3 Modules
    %ul
      %li
        %a{href: '/files/technical/Suniva Company Brochure.pdf', target: '_blank'} Suniva Company Brochure
      %li
        %a{href: '/files/technical/Suniva OptXXX-60-4-100 Data Sheet.pdf', target: '_blank'} Suniva OptXXX-60-4-100 Data Sheet
      %li
        %a{href: '/files/technical/Suniva OptXXX-72-4-100 Data Sheet.pdf', target: '_blank'} Suniva OptXXX-72-4-100 Data Sheet
      %li
        %a{href: '/files/technical/Suniva Module Warranty.pdf', target: '_blank'} Suniva Module Warranty
      %li
        %a{href: '/files/technical/Sharp- ND-Q250F7 Data Sheet.pdf', target: '_blank'} Sharp - ND-Q250F7 Data Sheet
      %li
        %a{href: '/files/technical/Sharp- Warranty.pdf', target: '_blank'} Sharp - Warranty

  #inverters
    %h3 Inverters
    %ul
      %li
        %a{href: '/files/technical/SMA Sunny Boy-3000,3800,4000US Data Sheet.pdf', target: '_blank'} SMA Sunny Boy - 3000, 3800, 4000US Data Sheet
      %li
        %a{href: '/files/technical/SMA Sunny Boy-5000,6000,7000,8000US Data Sheet.pdf', target: '_blank'} SMA Sunny Boy - 5000, 6000, 7000, 8000US Data Sheet
      %li
        %a{href: '/files/technical/SMA Sunny Boy- 1300TL,1600TL,2100TL Data Sheet.pdf', target: '_blank'} SMA Sunny Boy - 1300TL, 1600TL, 2100TL Data Sheet
      %li
        %a{href: '/files/technical/SMA Sunny Boy- 3000, 4000, 5000TL-US Data Sheet.pdf', target: '_blank'} SMA Sunny Boy - 3000, 4000, 5000TL US Data Sheet
      %li
        %a{href: '/files/technical/SMA Sunny Boy- 6000TL,7000TL,8000TL,9000TL,10,000TL,11,000TL Data Sheet.pdf', target: '_blank'} SMA Sunny Boy - 6000TL, 7000TL, 8000TL, 9000TL, 10,000TL, 11,000TL Data Sheet
      %li
        %a{href: '/files/technical/SMA Warranty.pdf', target: '_blank'} SMA Warranty
      %li
        %a{href: '/files/technical/Fronius- IG Plus Brochure.pdf', target: '_blank'} Fronius - IG Plus Brochure
      %li
        %a{href: '/files/technical/Fronius- IG Plus Data Sheet.pdf', target: '_blank'} Fronius - IG Plus Data Sheet

  #racking
    %h3 Racking
    %ul
      %li
        %a{href: '/files/technical/Quick Mount PV- Classic-Data Sheet.pdf', target: '_blank'} Quick Mount PV - Classic-Data Sheet
