#footer
  .container
    #home-advisor
      %a{href: 'http://www.homeadvisor.com/biz/addyelectric/'}= img '/images/soap-badge.png'
      %a.soap-caption{href: 'http://www.homeadvisor.com/c.Solar.Redding.CA.-14820.html', style: 'font-weight:bold;font-family:Arial,sans-serif;text-decoration:none;color:black;font-size:12px;display:block;'}
    #copy
      &copy;
      %a{href: 'http://www.mattaddy.com/'} Matt Addy
    #nav
      %a{href: '#'} Home
      |
      %a{href: '#'} Electrical
      |
      %a{href: '#'} Solar Photovoltaic
      |
      %a{href: '#'} Pool Solar
      |
      %a{href: '#'} Why Addy Electric?
      |
      %a{href: '#'} News
      |
      %a{href: '#'} Articles
      |
      %a{href: '#'} Technical
      |
      %a{href: '#'} Links
      |
      %a{href: '#'} About
      |
      %a{href: '#'} Contact
