#footer
  .container
    #home-advisor
      %a{href: 'http://www.homeadvisor.com/biz/addyelectric/'}= img '/images/soap-badge.png'
      %a.soap-caption{href: 'http://www.homeadvisor.com/c.Solar.Redding.CA.-14820.html', style: 'font-weight:bold;font-family:Arial,sans-serif;text-decoration:none;color:black;font-size:12px;display:block;'}
    #copy
      &copy;
      %a{href: 'http://www.mattaddy.com/'} Matt Addy
    #nav
      %a{href: '/'} Home
      |
      %a{href: '/services/electrical'} Electrical
      |
      %a{href: '/services/solar'} Solar Photovoltaic
      |
      %a{href: '/services/pools'} Pool Solar
      |
      %a{href: '/why-ae'} Why Addy Electric?
      |
      %a{href: '/resources/news'} News
      |
      %a{href: '/resources/articles'} Articles
      |
      %a{href: '/resources/technical'} Technical
      |
      %a{href: '/resources/links'} Links
      |
      %a{href: '/about'} About
      |
      %a{href: '/contact'} Contact
