.container
  #top-bar
    Call 555.555.5555
  #nav-wrapper
    #logo
      Logo
    #nav
      %ul
        %li
          %a{href: '/', class: 'active'} services
        %li
          %a{href: '#'} resources
        %li
          %a{href: '#'} about
        %li
          %a{href: '#'} contact
        %li
          %a{href: '#'} why ae?
