.container
  #top-bar
    Call 555.555.5555
  #nav-wrapper
    #logo
      Logo
    %nav#top-nav
      %ul.outer
        %li
          %a{href: '#', class: 'dropdown-link'} services
          %ul.fallback.inner
            %li
              %a{href: '/services/electrical'} Electrical
            %li
              %a{href: '/services/solar'} Solar
            %li
              %a{href: '/services/pool'} Pool
        %li
          %a{href: '/resources'} resources
        %li
          %a{href: '/about'} about
        %li
          %a{href: '/contact'} contact
        %li
          %a{href: '/why-ae'} why ae?
