.slider-wrapper.theme-default
  #slider.nivoSlider
    = img '/images/solar_panels.jpg', title: '<h2>Go solar and own your own energy production</h2>'
    = img '/images/tools.jpg', title: '<h2>Providing electrical services for residential and commercial projects</h2>'
    = img '/images/flip_flops.jpg', title: '<h2>Get more from your pool investment with pool solar</h2>'
