%p
  Addy Electric is owned by Danny Addy. After joining the IBEW union in upstate New York in
  2001 he finished his apprenticeship going on to be a journeyman electrician and leadman at
  Cornell Universities Electric Shop. In 2008 he moved from New York to Redding California to
  attend Bethel School of Supernatural Ministry at Bethel Church.  After his third year
  apprenticeship at the school he obtained his electricians certification for the state of
  California and went on to obtain his contractors license shortly after. Along with his wife
  and son he resides in Redding and plans to serve the Northern California community for years
  to come.
  %br
  %br
  “Solar photovoltaic systems are especially enjoyable to me. As an electrician for many years
  and moving from New York to California where there is a lot of sun I can see it being worth
  it. I take pleasure in saving money and providing them with their own energy production.
  Allowing the sun to produce power that can be used in a home has interested me for years. I
  look forward to providing quality products and excellent workmanship for everything we do.
  Thanks for considering Addy Electric for your next project.” Danny Addy
