.container

  #row1
    #about
      %h2 About Addy Electric
      %p
        Addy Electric is a small, family run company owned by Danny Addy, an electrician with 12 years of industry experience. After joining the International Brotherhood of Electrical Workers (IBEW) union in upstate New York in 2001 he finished his apprenticeship and went on to be a journeyman electrician and leadman at Cornell University’s electric shop. In 2008 he moved from New York to Redding, California to attend Bethel School of Supernatural Ministry at Bethel Church. He obtained his electrician’s certification and contractor’s license for the state of California in 2011 and 2012, respectively. Danny lives with his wife and son in Redding and plans to serve the Northern California’s electrical and solar needs for years to come.

    #remark
      %blockquote.quote
        %p
          "Solar photovoltaic systems are especially enjoyable to me. As an electrician for many years and moving from New York to California where there is a lot of sun, I see a lot of potential in solar. I take pleasure in saving money and providing clean, sustainable, energy for people. Allowing the sun to produce power that can be used in a home has interested me for years. I look forward to providing quality products and excellent workmanship for everything we do. Thanks for considering Addy Electric for your next project."
      %p Danny Addy

  #testimonies
    %h2 Testimonials
    %blockquote.quote
      %p
        "My name is Jerry Jamieson and my beautiful wife & I have been practicing Real Estate in Redding for 13 years and have hired many electricians and handy men in that time...as such, we highly recommend Danny Addy! We have found him to be excellent in his work ethic, integritious and conscientious in all respects!! We have had the pleasure of knowing and relying on him for many jobs over the years and trust him; he has never let us down. We also appreciate how reasonably priced he is. Whether it is a small or larger job, he is up to the task!"
    %p Jerry Jamieson

    %blockquote.quote
      %p
        "Danny was prompt in responding to our call, quoted clearly and scheduled us as quickly as he could. His work was excellent and his working area was organized and orderly! We not only will call again but heartily recommend Addy Electric!"
    %p Tim and Kathi Edwards

    %blockquote.quote
      %p
        "Our remodel of our newly purchased home included various electrical upgrades throughout the house.   We upgraded all the lights in the entire house to the outside of the house.  All the way from garage lights, lighting in our ceiling on to solar panels for the entire house.  All of Danny Addy's electrical service was done very well and done very neatly.  We enjoyed our interactions with him.  He explained all aspects of our solar system to us and we are confident that if we have any future electrical or solar questions or needs, that he would help us. Danny is our new electrician."
    %p Gary and Anne Schoenberger

    %blockquote.quote
      %p
        "I have Danny do several projects for me. Every time, the work was done quickly and with the highest quality.  I would recommend Danny as a person and professional."
    %p Kevin Dedmon
