.container
  #about
    %p
      Addy Electric is owned by Danny Addy, an electrician with 12 years of industry experience.After joining the International Brotherhood of Electrical Workers (IBEW) union in upstate New York in 2001 he finished his apprenticeship and went on to be a journeyman electrician and leadman at Cornell University’s electric shop. In 2008 he moved from New York to Redding, California to attend Bethel School of Supernatural Ministry at Bethel Church. He obtained his electrician’s certification and contractor’s license for the state of California in 2011 and 2012, respectively. Danny lives with his wife and son in Redding and plans to serve the Northern California’s electrical and solar needs for years to come.
  #remark
    %blockquote.quote
      %p
        "I really enjoy installing solar photovoltaic systems. I was an electrician for years in New York state, where there’s not a lot of sunshine, so when I moved to California where there is, I could really see that putting in solar is worth it out here. Allowing the sun to produce power that can be used in a home has interested me for years. I take pleasure in saving people money and providing them with systems for their own energy production. I look forward to providing quality products and excellent workmanship for everything we do. Thanks for considering Addy Electric for your next project."
    %p Danny Addy
