.container
  #contact
    #form
      %h2 Contact Us
      Form

    #info
      %h2 Contact Information
      Addy Electric - License # 972276
      %br
      %br
      %strong Phone:
      530.710.3619
      %br
      %strong Email:
      %a{href: 'mailto: danny@addyelectric.com'} danny@addyelectric.com
