= haml :_slideshow

.container
  #who
    %h3
      %span{class: 'big'} Who
      %span{class: 'small'} is Addy Electric?
    .main-content
      %h4 DESIGN. INTEGRATE. SUCCEED.
      Addy Electric is an electrical contractor and solar integrating company providing
      service to the Northern California area. We want to ensure you the best service with
      the highest level of workmanship to give you a product that will last.
    .learn-more
      %a{href: '#'}
        Learn more &gt;
  #why
    %h3
      %span{class: 'big'} Why
      %span{class: 'small'} Addy Electric?
    .main-content
      One of our main focuses is on respectfulness and honesty. We believe in developing
      relationships that will last and practicing honest communication with our customers.
      With Addy Electric you can be sure of a safe quality installation that will last.
    .learn-more
      %a{href: '#'}
        Learn more &gt;
  #save
    %h3
      %span{class: 'big'} Save
      %span{class: 'small'} Go solar
    .main-content
      Solar energy is the most abundant energy resource on earth. Take advantage of the
      suns vast resource and be a part of the growing solar community. By providing us with
      the information below we can size a system that is right for your needs.
      %form{class: 'form', action: "/form", method: "post"}
        .field.first
          %label{for: 'name'} Name
          %input{type: 'text', name: 'name'}
        .field.second
          %label{for: 'email'} Email
          %input{type: 'text', name: 'email'}
        .field.first
          %label{for: 'city'} City / Area
          %input{type: 'text', name: 'city'}
        .field.second
          %label{for: 'provider'} Utility Provider
          %input{type: 'text', name: 'provider'}
        .field
          %label{for: 'avg'} Avg. Bill or Annual Kilowatt Hours
          %input{type: 'text', name: 'avg', class: 'input-avg'}
        .actions
          %input{type: 'submit', value: 'Submit'}

