= haml :_slideshow

.container
  #who
    %h3
      %span{class: 'big'} Who
      %span{class: 'small'} is Addy Electric?
    .main-content
      Addy Electric provides solutions that will last for Northern California’s electrical
      and solar needs. We specialize in full electrical services, solar photovoltaic
      integration, and solar for pools for both residential and commercial properties in
      Northern California. We are committed to the highest level of service and guarantee
      excellent workmanship and a safe installation on every project, large or small.
    .learn-more
      %a{href: '/about'}
        Learn more &gt;
  #why
    %h3
      %span{class: 'big'} Why
      %span{class: 'small'} Addy Electric?
    .main-content
      At Addy Electric, we believe in developing long-term working relationships. We
      promise to always treat our clients with respect and we place a high value on honest
      communication. We know your investments are important to you and we make integrity
      in both our work and our client relationships a top priority. Safety, quality
      workmanship, and reliability are at the top of the list.
    .learn-more
      %a{href: '/why-ae'}
        Learn more &gt;
  #save
    %h3
      %span{class: 'big'} Save
      %span{class: 'small'} Go solar
    .main-content
      Take advantage of the most abundant resource on earth, save money, and become a part
      of the growing solar community by making the switch to solar energy.  Fill out the
      form below for a free estimate on a custom system that is right for your needs.
      %form{class: 'form', action: "/inquire", method: "post"}
        .field.first
          %label{for: 'name'} Name
          %input{type: 'text', name: 'name'}
        .field.second
          %label{for: 'email'} Email
          %input{type: 'text', name: 'email'}
        .field.first
          %label{for: 'city'} City / Area
          %input{type: 'text', name: 'city'}
        .field.second
          %label{for: 'provider'} Utility Provider
          %input{type: 'text', name: 'provider'}
        .field
          %label{for: 'avg'} Avg. Bill or Annual Kilowatt Hours
          %input{type: 'text', name: 'avg', class: 'input-avg'}
        .actions
          %input{type: 'submit', value: 'Submit'}

