= haml :_slideshow

.container
  #who
    %h3
      %span{class: 'big'} Who
      %span{class: 'small'} is Addy Electric?
    .main-content
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
  #why
    %h3
      %span{class: 'big'} Why
      %span{class: 'small'} Addy Electric?
    .main-content
      Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur.
  #save
    %h3
      %span{class: 'big'} Save
      %span{class: 'small'} Get an estimate
    .main-content
      %form{class: 'form', action: "/form", method: "post"}
        .field.first
          %label{for: 'name'} Name
          %input{type: 'text', name: 'name'}
        .field.second
          %label{for: 'email'} Email
          %input{type: 'text', name: 'email'}
        .field.first
          %label{for: 'city'} City / Area
          %input{type: 'text', name: 'city'}
        .field.second
          %label{for: 'provider'} Utility Provider
          %input{type: 'text', name: 'provider'}
        .field
          %label{for: 'avg'} Avg. Bill or Annual Kilowatt Hours
          %input{type: 'text', name: 'avg', class: 'input-avg'}
        .actions
          %input{type: 'submit', value: 'Submit'}

