.container
  #privacy-policy
    Your privacy is important to us, and maintaining your trust and confidence is one of our highest priorities. We respect your right to keep your personal information confidential and understand your desire to avoid unwanted solicitations.

    We collect your name, e-mail address, location, and electricity usage for the purpose of a free estimate on a custom system. As a general rule, we do not disclose personal information about our clients or former clients to anyone. Any modifications to the privacy policy will be noted on the website with an effective date. If you need to make any changes or corrections to your information, please email us at: danny@addyelectric.com
