.container
  %h2 Safety
  %p
    One of our highest priorities is safety. The purpose of the NEC (National Electrical Code)
    is “the practical safeguarding of persons and property from hazards arising from the use
    of electricity.” Applying the code and often going above and beyond it, we provide a safe
    quality installation.

  %h2 Quality
  %p
    Quality matters.  Electrical installations are meant to last many years, if not a life
    time. Hazards can arise from poor workmanship. At Addy Electric we have a high standard
    for excellence and take it seriously.

  %h2 Responsible
  %p
    Responsibility is one of our core values. We practice honest communication with our
    customers and welcome feedback and question. We strive for complete satisfaction before a
    job is considered complete. You can be sure a job will be done right the first time.
