.container
  #safety
    %h2 Safety
    %p
      Safety is among our top priorities. The purpose of the National Electrical Code (NEC) is
      “the practical safeguarding of persons and property from hazards arising from the use of
      electricity.” Applying the NEC code and often going above and beyond it, we guarantee a
      safe installation.

  #quality
    %h2 Quality
    %p
      Quality matters.  Electrical installations are meant to last many years, if not a
      lifetime. Hazards can arise from poor workmanship. At Addy Electric we have a high
      standard for excellence and take the longevity of our installations seriously.

  #reliability
    %h2 Reliability
    %p
      Reliability is one of our core values. We practice honest communication with our
      customers and welcome feedback and questions. We strive for complete satisfaction
      before we consider a job complete. You can be sure a job will be done right the first
      time.
