@import "bourbon/bourbon";
@import "neat/neat";

// cupid-green mixin from Chad Mazzola
// http://hellohappy.org/css3-buttons/
@mixin cupid-green {
  @include linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  @include box-shadow(inset 0 1px 0 0 #96ca6d);
  color: #fff;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 100px;

  &:hover {
    @include linear-gradient(top, #76b347, #5e9e2e);
    @include box-shadow(inset 0 1px 0 0 #8dbf67);
    cursor: pointer;
  }

  &:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    @include box-shadow(inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee);
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', Arial;
  font-weight: 400;
  color: #484848;
  font-size: 0.9em;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5px;
  font-weight: 300;
}

p {
  h2 {
    border-bottom: 1px solid #ccc;
  }
}

a {
  color: #1B2594;
  text-decoration: none;

  &:hover {
    color: #1F2CBF;
    border-bottom: 1px solid;
  }
}

h1 {
  font-family: 'Doppio One', 'Arial', 'sans-serif';
}

.container {
  @include outer-container;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -210px;

  &:after {
    content: "";
    display: block;
    height: 210px;
  }
}

.sidebar {
  @include span-columns(4);
  @include shift(1);
  margin-top: 30px;
  padding: 20px;
  background: #F0F0F0;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  &:before, &:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
  }

  h2 {
    margin-top: 0;
    text-align: center;
  }

  .field {
    @include row;
  }

  label {
    display: inline-block;
    vertical-align: top;
    width: 70px;
  }

  input[type="text"], textarea {
    width: 190px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;

    &:focus {
      outline: none;
    }
  }

  textarea {
    height: 100px;
  }

  input[type="submit"] {
    @include cupid-green;
  }
}

#top-bar {
  text-align: right;
  font-weight: 300;
}

#logo {
  @include span-columns(3);
  margin-bottom: 15px;
  a {
    text-decoration: none;
    &:hover {
      border-bottom: none;
    }
  }
}

#slider {
  text-align: right !important;
}

#nav-wrapper {
  margin-bottom: 10px;

  #top-nav {
    @include span-columns(9);
    font-family: 'Doppio One', 'Arial', 'sans-serif';
    font-size: 1.1em;
    margin-top: 20px;

    ul.outer {
      list-style: none;
      text-transform: uppercase;

      > li {
        display: inline-block;
        text-align: center;
        width: 130px;
        border-right: 1px solid #bbb;
        float: left;
        padding: 10px 5px;

        &:last-child {
          border: none;
        }

        &:hover {
          background-color: #eee;
        }
      }
    }

    ul.inner {
      z-index: 100;
      text-transform: none;
      position: absolute;
      border: 1px solid #e3e3e3;
      border-top: none;
      width: 130px;
      margin: 10px 0 0 -5px;
      background-color: #eee;

      > li {
        font-size: 0.8em;
        margin-left: -40px;
        display: inline-block;
        width: 128px;
      }

      a {
        display: block;
        padding: 10px 5px;
        color:#444;
      }

      li:hover a {
        background: #ddd;
      }
    }

    ul.fallback {
      display:none;
    }

    a {
      color: #484848 !important;

      &:hover {
        border: none;
      }
    }
  }

}

/* index */

#who, #why, #save {
  @include span-columns(4);

  .main-content {
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 10px;

    form {
      margin-top: 10px;
    }

    h4 {
      display: block;
      text-align: justify;
      margin-top: 0;
    }
  }

  .learn-more {
    text-align: right;
    font-weight: 400;
  }

  h3 {
    border-bottom: 1px solid #ccc;
  }

  .big {
    font-family: 'Arial', 'sans-serif';
    font-size: 2.5em;
    text-transform: lowercase;
  }
  .small {
    display: inline-block;
    padding-bottom: 5px;
  }
}

#who, #why {
  padding-right: 20px;
}

#who {
  .small {
    padding-left: 55px;
  }
}

#why {
  .small {
    padding-left: 72px;
  }
}

#save {
  .small {
    padding-left: 132px;
  }
}

.form {
  label {
    display: block;
  }

  input[type="text"] {
    border-radius: 3px;
    border: 1px solid #bbb;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
  }

  input[type="submit"] {
    @include cupid-green;
  }

  .input-avg {
    width: 47% !important;
  }

  .first {
    @include span-columns(2 of 4);
  }

  .second {
    @include span-columns(2 of 4);
    @include omega;
  }
}

/* services */

#electrical {
  @include span-columns(7);
}

#solar {
 @include span-columns(7);
 h1 {
   font-family: 'Doppio One', 'Arial', 'sans-serif';
 }
}

dt {
  display: list-item;
  list-style-type: disc;
  margin-left: 50px;
}

dd {
  margin: 0 0 10px 50px;
}

#pools {
 @include span-columns(7);
}

/* technical */

#modules, #inverters, #racking {
  @include span-columns(4);

  h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }

  ul {
    padding-left: 15px;
    li {
      padding-top: 5px;
    }
  }
}

/* why */

#safety, #quality, #reliability {
  @include span-columns(4);

  h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
}

/* about */

#about {
  @include span-columns(7);

  h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
}

#row1 {
  @include row();

  #remark {
    @include span-columns(5);
  }
}

#testimonies {
  @include span-columns(12);

  h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}

.quote {
  position: relative;
  padding: 15px 30px;
  margin: 0;
  background: #efefef;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.quote + p {
  margin: 15px 0 2em 85px;
  font-style: italic;
}

.quote:after {
  content:"";
  position:absolute;
  bottom:-50px;
  left:50px;
  border-width:0 20px 50px 0px;
  border-style:solid;
  border-color:transparent #efefef;
  display:block;
  width:0;
}

/* contact */

#contact {
  h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }

  #form {
    @include span-columns(6);
  }

  #info {
    @include span-columns(4);
    @include shift();
  }

  .field {
    @include row;
  }

  label {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }

  input[type="text"], textarea {
    width: 350px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;

    &:focus {
      outline: none;
    }
  }

  textarea {
    height: 100px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    @include cupid-green;
  }
}

/* footer */

#footer {
  border-top: 1px solid darken(#efefef, 20%);
  background-color: #efefef;
  margin-top: 40px;
  padding: 30px 0 30px 0;
  height: 170px;

  #home-advisor {
    @include span-columns(2);

    a {
      &:hover {
        border-bottom: none;
      }
    }
  }

  #copy {
    font-size: 0.8em;
    text-align: right;
  }

  #nav {
    margin-top: 75px;
    text-align: right;
    font-size: 0.8em;
  }
}

/* thanks */

#thanks {
  h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
}
