.container

  #electrical
    %h1 Electrical Services
    At Addy Electric we provide full electrical services including:

    %ul
      %li residential and commercial
      %li new construction
      %li remodels
      %li service upgrades
      %li lighting projects
      %li hot tub wiring
      %li ground fault protection
      %li solar photovoltaic systems
      %li testing and troubleshooting
      %li generator wiring
      %li communication wiring and more

    We keep up with all new code updates and ensure you a safe electrical installation. It is our commitment to provide excellent workmanship that will show.

  = haml :_sidebar
