= haml :'services/_subnav'

.container
  At Addy Electric we provide full electrical services including residential and commercial,
  new construction, remodels, service upgrades, lighting projects, communication wiring, and
  more. Always keeping abreast of new code updates we ensure you a safe electrical
  installation. It is our commitment to provide excellent workmanship that will show.
