.container
  #pools
    %h1 Pool Solar
    %h2 Why solar for pools?
    %p
      Get more use of your pool with solar heating. Solar heating systems for pools have a
      lower upfront cost than electric or gas systems, and once installed have lower
      operating costs, making solar the most affordable way to extend your swim season.
      With these systems you can expect four more months of swim time per year, at the
      lowest cost possible. Systems are inexpensive and require little maintenance. We
      offer Heliocol collectors that are backed by a twelve-year warranty. Heliocol
      collectors were installed for the 1996 Summer Olympics in Atlanta and are the best in
      the industry.

    %h2 How It Works
    %p
      Solar collectors are mounted on your roof or on the ground. Pipe is connected from
      your pool equipment to the collectors. You set the desired pool water temperature in
      an installed controller. When the pool water drops below the set temperature, water
      is circulated through the collectors, which heat the water as it flows back into your
      pool. When the pool water reaches the set temperature the controller operates a valve
      that discontinues circulation through the collectors, leaving your pool water at the
      desired temperature.

  = haml :_sidebar
