= haml :'services/_subnav'

.container
  %h2 Why solar for pools?
  %p
    Get more use of your pool with solar pool heating. You can expect four (4) extra months
    of swim time per year. Systems are inexpensive and require little maintenance. We offer
    Heliocol collectors that are backed by a twelve (12) year warranty. Heliocol collectors
    were installed for the 1996 Summer Olympics in Atlanta and are the best in the industry.

  %h2 How It Works
  %p
    Solar collectors are mounted on your roof or on the ground. Pipe is connected from your
    pool equipment to the collectors. There is a controller in which the desired pool water
    temperature is set. When the pool water drops below that temperature water is circulated
    through the collectors heating the water as it flows back into your pool. When the pool
    water reaches the set temperature the contoller operates a valve that discontinues
    circulation through the collectors leaving your pool water at the desired temperature.
