= haml :'services/_subnav'

.container
  %h2 Why Solar Photovoltaic?
  %p
    Solar energy is the most abundant energy resource on earth. On top of that, Redding is
    the second sunniest city in the US according to The Weather Channel. Solar has the
    potential to save you money, hedge against electric rate increases, has no moving parts
    to break down, and systems are built to last 30 to 50 years. There is also a 30% federal
    tax credit of the total cost of your system. With higher cell efficiencies, and lower
    module costs, solar can be a great choice. (Was thinking to do 'high cell efficiency and
    low module costs... or competitive module costs... b/c what is 'higher' 'lower' being
    compared to...)

  %h2 How It Works
  %p
    There are three types of solar photovoltaic systems. The interactive system, interactive
    with battery back-up, and a stand-alone system. The stand-alone system is independent from
    any other electrical production. It requires batteries, a charge controller, inverter and
    photovoltaic modules. In this set-up there is no interconnection to the utility grid.
    An interactive system with battery back-up is a system that interconnects to the grid
    (utility). It requires batteries, a bi-directional inverter, a standard inverter, and
    photovoltaic modules. (For DC coupled systems a charge controller is required). In this
    configuration, if there is a utility power outage the bidirectional inverter will
    disconnect from the grid and create its “own grid”, so to speak. This allows power to be
    fed to a limited amount of circuits called critical or protected loads. Thus providing
    some power during utility power outages.

  %p
    The third, and most common, is the interactive or grid-tied system. This type of system
    requires an inverter and photovoltaic modules. It is interconnected to the grid. Unlike
    the battery back-up system, when there is a power outage, a safety mechanism in the
    inverter blocks the solar power from backfeeding into your electrical system.  Thus the
    solar system is dependent upon the grid (utility voltage) to operate.

  %h2 The Interactive System (Grid-tie)
  %p
    This is the most common and least expensive of the three types of systems. An array
    (group) of solar photovoltaic modules is mounted either on your roof or on the ground.
    As photons from the sun hit the solar cells in the modules it produces DC electricity.
    Wires from the array are directly connected to the inverter. Through the inverter this DC
    electricity is inverted to AC electricity. Wires are connected from the output of the
    inverter to an electrical panel on your property. This creates the current path for
    electricity produced by the sun to flow into your electrical system. Whatever power is not
    consumed in your home is back fed into the grid. This energy is counted as production and
    is credited to your account. In cases when there is not enough sun light, such as on a
    cloudy day or at night, you continue to use the electric from the utility as needed. With
    a properly sized system there is the possibility of completely offsetting your electric
    usage and eliminating your bill.
